body {
    background-color:#123932;
    color: #ccc;
    margin: 0;
    padding:0;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}

.input {
    border: 1px solid #858585;
    background-color: rgba(6,6,6,0.3);
    color: white;
    width:100%;
    padding: 10px;
    font-size:14px;
    margin-bottom:15px;
}

.input:focus {
    border: 1px solid #858585;
}

.input:focus::-webkit-input-placeholder {
    color:white
}
.dialog {
    border: 1px solid #484848;
    max-width:500px;
    width: 50% !important;
}
.dialog-font-bg{
    background-color:#141414;
    color:white !important;
    font-size:14px !important;
}
.dialog-title{
    border-bottom: 1px solid #484848;
    line-height:0px !important;
}
.dialog-content{
    padding: 24px 24px 24px !important;
}

.btn-primary button {
    background-color:#6eb487 !important;
    border-radius:0px !important;
    text-shadow: 1px 1px 4px rgba(150, 150, 150, .96);
}
.btn-primary button span {
    color:#d2ded9 !important;
}
.btn-primary button:hover {
    background-color:#568f6a !important;
}
.btn-secondary {
    background-color:#122421 !important;
    color:#d2ded9 !important;
    border-radius:0px !important;
}
.btn-secondary:hover {
    background-color:#19312d !important;
}

.button {
    cursor:pointer;
    background-color: #6EB487;
    border:0px;
    color: white;
    text-align:center;
    text-transform: uppercase;
    width:100%;
    padding: 10px;
    font-size:16px;
    box-shadow: rgba(0,0,0,0.15) 1px 2px 4px 2px;
}
button:disabled {
    background-color: rgb(117, 131, 122);
    color:#ccc;
    cursor:not-allowed;
}

.form-error {
    color:red;
}

.cursor-pointer {
    cursor:pointer
}

.rowHover:hover {
    background-color: rgba(0,0,0,1)
  }

.row-even:nth-child(even) {background:transparent}
.row-even:nth-child(odd) {background:rgba(0,0,0,0.4)}
.row-even:hover:nth-child(even) {background: rgba(0,0,0,0.8)}
.row-even:hover:nth-child(odd) {background:rgba(0,0,0,0.8)}

.widget-title {
    font-size:14px
}