body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	background-color: #123932;
	color: #CCC;
	font-family: Helvetica;
	font-size: 12px;
	display: flex;
	flex-direction: row;
}

p, div {
	margin: 0;
	padding: 0;
}

/*ok in global*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

select { /* ok */
	-webkit-appearance: none;
	-webkit-border-radius: 0px; 
	font-size: 16px;
	background-color: rgba(0, 0, 0, 0.3);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
	border: solid 1px #ffffff;
	color: white;
	padding: 5px;    
	background: url(./caret.png) rgba(0, 0, 0, 0.2) no-repeat right center;
    width: 100%;
}

label { /* ok */
	margin-bottom: 8px;
    display: block;
}

.spacer {
	flex-grow: 1;
}

.bottom20 {
	margin-bottom: 20px;
}

.alignRight {
	text-align: right;
}

.inputContainer {

}

.buttonContainer { /* ok*/
    flex-basis: 47.5%;
}

.categoryHeader { /* in TickersList*/
	padding: 2px 5px;
	line-height: 26px;
	background-color: rgba(0, 0, 0, 0.25);
	font-size: 14px;
	font-weight: bold;
	color: #72EAD6;
}

.categoryItems {

}

.categoryItem { /* in TickersList */
	line-height: 20px;
	padding: 5px;
}

.categoryItem:hover {
	cursor: pointer;
	background: rgba(0, 0, 0, 0.7);
}

#leftColumn { /* ok index.js */
	height: 100%;
	width: 20%;
	border-right: 1px solid #D2E4E1;
	display: flex;
	flex-direction: column;
}

#mainColumn { /* ok index.js */
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

#searchBox { /* ok (form in SearchBox) */
	padding: 10px;
}

#searchInput { /* ok*/
	line-height: 26px;
	font-size: 13px;
	width: 100%;
	border: none;
	border-bottom: 1px solid #D2E4E1;
	background: transparent;
	color: white;
}

/*#tickersList {
	padding: 5px;
}
*/
#socketStatus { /* ok */
	height: 45px;
	width: 100%;
	bottom: 0;
	margin-top: auto;
	background-color: rgba(0, 0, 0, 0.15);
	box-shadow: -1px -1px 2px 2px rgba(0, 0, 0, 0.35);
}

.row, #tickerMainContainer { /* ok in TickerContainer */
	display: flex;
	flex-direction: row;
}

#userDataContainer { /* ok in index.js */
	border-top: 1px solid #D2E4E1;
	display: flex;
	flex-direction: column;
	min-height: 300px;
}

#tickerInfoContainer { /* ok in ticker container */
	width: 280px;
	border-left: 1px solid #D2E4E1;
	display: flex;
	flex-direction: column;
}

#tickerChart {
	flex-grow: 1;
}

/* start ok */
#tickerInfo { 
	font-size: 22px;
	padding: 20px;
    max-height: 110px;
}

#tickerInfo p {
	margin: 0;
	line-height: 36px; 
}

.tickerPrice {
	font-weight: bold;
}

.tickerRed {
	color: #EA3147;
	font-size: 18px;
}
/*stop ok */


#tickerForm { /* ok in neworderform */
	height: 200px;
	background-color: rgba(0, 0, 0, 0.3);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
	border-top: 1px solid #D2E4E1;
	flex-grow: 1;
	padding: 30px;
}

.orderButton { /* ok */
    width: 100%;
    height: 30px;
    background-color: #14ae35;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    font-size: 16px;
    border: none;
    color: white;
    border-radius: 0px;
}

.orderButton.buy {
	
}

.orderButton.sell { /* ok */
	background-color: #ce3a00;
}

.orderInput { /* ok in neworderform */
	font-size: 16px;
	background-color: rgba(0, 0, 0, 0.3);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
	border: solid 1px #ffffff;
	color: white;
    padding: 5px;
    width: 88%;
}

.alignCenter {
	text-align: center;
	justify-content: center;
}